name: Microservices Continuous Deployment with Github Actions

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Login to docker hub
      uses: actions/login-action@v3
      with:
        username: ${{secret.DOCKER_ACCESS_TOKEN}}
        password: ${{secret.DOCKER_USERNAME}}
