name: Microservices Continuous Deployment with Github Actions
on:
  push:
    branches: 
      - "main"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4   
    - name: Login to docker hub
      uses: docker/login-action@v3.7.0
      with:
        username: ${{secrets.DOCKER_ACCESS_TOKEN}}
        password: ${{secrets.DOCKER_USERNAME}}
